html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color:  #000000  ;
}
p{
  font-size: 1.5rem;
  color: #00CC33;
}

#sensors {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: separate;
    color:#00CC33;
    padding: 10px;
}
#sensors td, #sensors th {
  border: 1px solid  #00CC33 ;
  padding: 8px;
    
}

#sensors th {
	border: 7px solid #00CC33  ;
}

#sensors tr:hover {
    color: white;
	background-color:  #00CC33 ;
	transition: 0.6s;
    
	}

body {
  margin: 10px;
}

.topnav {
    overflow: hidden;
    color: white;
}

.topnav {
    float: right;
    width:60%;
    padding: 5px;
}

.dropbtn {

    width: 200px;
    height: 100px;
    font-size: 18px;
    display: inline-block;
    background-color:  #000000;
    border: 1px solid #00CC33;
    border-radius: 8px;
    color: #00CC33;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 30px;
    margin: 3px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.dropbtn:hover {
    width:220px;
}

.dropdown {
  display: inline-block;
    float: right;
}

.dropdown-content {
     width:200px;
  display: none;
  background-color: black;
  min-width: 160px;
  box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00CC33;
  padding: 18px 50px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
    background-color: #00CC33;
    color:white;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: #00CC33;
    color:white;
}

.toleft {
    float:left;
}
 h1{
	 color: #00CC33;
 }

