html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color:#154360;
}
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.button2 {
  background-color: #f44336;
}

#sensors {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color:white;
}
#sensors td, #sensors th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sensors th {
	background-color:#2980B9  ;
}

#sensors tr:hover {
	background-color: #2980B9;
	transition: 0.6s;
	}

#toleft {
 float: left;
 width: 100%;
}
#toright {
float: right;
width: 100%;
}	
